*.class
*.log

# sbt specific
StudHelper/dist/*
StudHelper/target/
StudHelper/lib_managed/
StudHelper/src_managed/
StudHelper/project/boot/
StudHelper/project/plugins/project/

# Scala-IDE specific
.scala_dependencies

.project
.classpath
.cache
StudHelper/.target/**/*
